@media all and (max-width: 480px) {
  .skill-title {
    margin-top: 10px;
    padding: 0 5vw;
    color: #c89b3f;
    font-size: 1.6rem;
    border-bottom: #fff;
    text-align: center;
    font-weight: 600;
  }
  .image {
    width: 50%;
    height: 50%;
  }
  .flex {
    display: flex;
    padding-left: 5vw;
    flex-wrap: wrap;
    gap: 10px;
  }
  .container {
    padding-top: 50px;
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .container .card {
    position: relative;
    cursor: pointer;
  }

  .container .card .face {
    width: 100px;
    height: 60px;
    transition: 0.5s;
  }
  .container.card.face1 {
    height: 60px;
  }

  .container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(-23px);
  }

  .container .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0);
  }

  .container .card .face.face1 .content {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .container .card .face.face1 .content img {
    max-width: 100px;
  }

  .container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
  }

  .container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    /* box-sizing: border-box; */
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-90px);
  }
  .container.face.face2 {
    height: 60px;
  }

  .container .card:hover .face.face2 {
    transform: translateY(0);
  }

  .container .card .face.face2 .content p {
    margin: 0px;
    padding: 0px;
  }

  .container .card .face.face2 .content a {
    margin: 0.5rem 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 2px;
    border: 1px solid #333;
  }

  .container .card .face.face2 .content a:hover {
    background: #333;
    color: #fff;
  }
}
@media all and (min-width: 480px) and (max-width: 768px) {
  .skill-title {
    margin-top: 10px;
    padding: 0 5vw;
    color: #c89b3f;
    font-size: 1.6rem;
    border-bottom: #fff;
    text-align: center;
    font-weight: 600;
  }
  .image {
    width: 50%;
    height: 50%;
  }
  .flex {
    display: flex;
    padding-left: 5vw;
    flex-wrap: wrap;
    gap: 10px;
  }
  .container {
    padding-top: 50px;
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .container .card {
    position: relative;
    cursor: pointer;
  }

  .container .card .face {
    width: 100px;
    height: 60px;
    transition: 0.5s;
  }
  .container.card.face1 {
    height: 60px;
  }

  .container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(-23px);
  }

  .container .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0);
  }

  .container .card .face.face1 .content {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .container .card .face.face1 .content img {
    max-width: 100px;
  }

  .container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
  }

  .container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    /* box-sizing: border-box; */
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-90px);
  }
  .container.face.face2 {
    height: 60px;
  }

  .container .card:hover .face.face2 {
    transform: translateY(0);
  }

  .container .card .face.face2 .content p {
    margin: 0px;
    padding: 0px;
  }

  .container .card .face.face2 .content a {
    margin: 0.5rem 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 2px;
    border: 1px solid #333;
  }

  .container .card .face.face2 .content a:hover {
    background: #333;
    color: #fff;
  }
}
@media all and (min-width: 768px) {
  .skill-title {
    margin-top: 50px;
    padding: 0 20vw;
    color: #c89b3f;
    font-size: 2rem;
    text-decoration: dashed;
    text-align: center;
    font-weight: 400;
    padding-bottom: 50px;
    padding-top: 20px;
  }
  .image {
    width: 50%;
    height: 50%;
  }
  .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 20vw;
    padding-right: 20vw;
    margin-bottom: 200px;
  }
  .container {
    padding-top: 50px;
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .container .card {
    position: relative;
    cursor: pointer;
  }

  .container .card .face {
    width: 100px;
    height: 60px;
    transition: 0.5s;
  }
  .container.card.face1 {
    height: 60px;
  }

  .container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(-23px);
  }

  .container .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0);
  }

  .container .card .face.face1 .content {
    /* opacity: 0.2; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
  }

  .container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-90px);
  }
  .container.face.face2 {
    height: 60px;
  }

  .container .card:hover .face.face2 {
    transform: translateY(0);
  }

  .container .card .face.face2 .content p {
    margin: 0px;
    padding: 0px;
  }

  .container .card .face.face2 .content a {
    margin: 0.5rem 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 2px;
    border: 1px solid #333;
  }

  .container .card .face.face2 .content a:hover {
    background: #333;
    color: #fff;
  }
}
.cat {
  background-color: #f19b1a;
  height: 65px;
  width: 80px;
  border-radius: 0 80px 80px 0;
  position: absolute;
  bottom: 60px;
  right: 50px;
}
.ear {
  height: 15px;
  width: 15px;
  background-color: #f19b1a;
  position: absolute;
  bottom: 64px;
  left: 8px;
  border-radius: 20px 0 0 0;
  box-shadow: 25px 0 #f19b1a;
}
.eye,
.eye:before {
  height: 7px;
  width: 10px;
  border: 2px solid #2c2c2c;
  position: absolute;
  border-radius: 0 0 15px 15px;
  border-top: none;
}
.eye {
  top: 18px;
  left: 15px;
}
.eye:before {
  content: "";
  left: 30px;
}
.nose {
  background-color: #ffffff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  top: 32px;
  left: 25px;
  box-shadow: 12px 0 #ffffff;
}
.nose:before {
  content: "";
  width: 12px;
  height: 8px;
  position: absolute;
  background-color: #ffffff;
  left: 6px;
}
.nose:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-top: 8px solid #ef926b;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: 7px;
  left: 6px;
}
.mouth {
  background-color: #2c2c2c;
  height: 15px;
  width: 17px;
  position: absolute;
  border-radius: 0 0 5px 5px;
  top: 38px;
  left: 27px;
  animation: mouth-move 2s infinite;
  transform-origin: top;
}
@keyframes mouth-move {
  50% {
    transform: scaleY(0.7);
  }
}
.body {
  background-color: #f19b1a;
  height: 90px;
  width: 140px;
  position: absolute;
  right: 65px;
  bottom: 0;
  border-radius: 60px 60px 0 0;
  animation: sleep 2s infinite;
  transform-origin: bottom right;
}
@keyframes sleep {
  50% {
    transform: scale(0.9, 1.05);
  }
}
.tail {
  background-color: #d07219;
  height: 20px;
  width: 100px;
  position: absolute;
  right: 150px;
  bottom: 0;
  border-radius: 20px 0 0 20px;
}
.body:before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 12px;
  width: 30px;
  border-radius: 6px;
  bottom: 0;
  left: 22px;
  box-shadow: 45px 0 #ffffff;
}
.bubble {
  height: 20px;
  width: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 65px;
  top: 20px;
  border-radius: 50px 50px 50px 5px;
  animation: bubble-scale 2s infinite;
}
@keyframes bubble-scale {
  50% {
    transform: scale(1.6);
  }
}
.shadow {
  height: 10px;
  width: 240px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  left: 42%;
  animation: shadow 2s infinite;
}
@keyframes shadow {
  50% {
    transform: scaleX(0.7);
  }
}
.skills {
  font-size: 50px;
  color: white;
}
@media screen and (max-width: 480px) {
  .cat {
    display: none;
  }
  .shadow {
    display: none;
  }
}
.skills-section {
  position: relative;
  width: 100%;
  height: 100%;
  background: url("http://unsplash.it/1200x800") center center no-repeat;
  background-size: cover;
}
.skills-section:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  opacity: 0.6;
}

@media screen and (max-width: 480px) {
  .skills-section {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("http://unsplash.it/1200x800") center center no-repeat;
    background-size: cover;
  }
  .skills-section:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #6ebbe8, #b3f9c8);
    opacity: 0.6;
  }
}
