@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::placeholder {
  color: rgb(229, 204, 204);
}
.hands-down {
  width: 10%;
}
.contact {
  display: flex;
  flex-direction: column;
  position: relative;
}
textarea[placeholder] {
  color: aqua;
}
.contact-header {
  font-family: "Montserrat", sans-serif;
  margin: 10rem 10rem 3rem 10rem;
  text-align: center;
}

#co-title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #c31432;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#co-text {
  font-size: 3rem;
  color: #000;
  padding-bottom: 2rem;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  align-self: center;
  line-height: 2;
  height: auto;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10rem;
}

.contact-form {
  font-family: "Montserrat", sans-serif;
  padding: 5rem;
}

#form-title {
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  line-height: 1px;
  margin-left: 4rem;
  margin-bottom: 3rem;
}

fieldset {
  border: none;
}

.form-field {
  outline: none;
  width: 200%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  margin-bottom: 0.9rem;
}

#name,
#email,
#subject,
#message {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  outline: none;
  background: transparent;
  border: none;
  letter-spacing: 2px;
  font-size: 0.6rem;
  line-height: 2rem;
  padding-bottom: 0.7rem;
}

textarea,
#message {
  width: 100%;
  color: #fff;
  overflow: visible;
}

#form-btn {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  border: none;
  color: white;
  font-size: 0.6rem;
  letter-spacing: 2.5px;
  font-weight: 700;
  text-transform: uppercase;
  width: 200%;
  height: 60px;
  background-color: #c31432;
  cursor: pointer;
  transition: all 0.3s ease;
}

#form-btn:hover {
  opacity: 0.9;
  transform: translateY(-2.5%);
  box-shadow: 0 0 15px 0 #000;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 5rem;
  background-color: rgba(0, 0, 0, 0.3);
}

.contact-info h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #c31432;
}

.contact-info a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: blueviolet;
  font-size: 0.8rem;
  letter-spacing: 2px;
  line-height: 3rem;
  margin-bottom: 5rem;
  transition: all 0.3s ease;
}

.contact-info a:hover {
  transform: translateY(-2.5%);
  color: #999;
}

.contact-info .fab {
  font-size: 1.5rem;
  line-height: 3rem;
  padding-left: 2rem;
  color: #666;
  cursor: pointer;
  transition: all 0.3s ease;
}

.fab:hover {
  transform: scale(1.2);
  color: #999;
}

@media screen and (max-width: 960px) {
  .contact-content {
    display: flex;
    flex-direction: column;
    width: 90vw;
  }

  .form-field {
    width: 100%;
  }

  #form-btn {
    width: 100%;
  }

  #form-title {
    margin: 3rem auto;
  }

  .contact-header {
    margin: 5rem 5rem 3rem 5rem;
  }
  .contact-into {
    display: none;
  }
  #co-title {
    font-size: 1rem;
  }

  #co-text {
    font-size: 2.5rem;
  }

  .contact-form {
    padding: 2.5rem;
  }
  .emailto {
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (min-width: 960px) {
  .form-field {
    width: 125%;
  }

  #form-title {
    margin: 3rem auto;
  }

  #form-btn {
    width: 125%;
  }

  .contact-header {
    margin: 7rem 7rem 3rem 7rem;
  }

  .contact-info {
    padding: 5rem;
  }

  #co-title {
    font-size: 1rem;
  }

  #co-text {
    font-size: 2.5rem;
  }

  .contact-form {
    padding: 2.5rem;
  }
}

@media screen and (min-width: 1460px) {
  .form-field {
    width: 200%;
  }

  #form-btn {
    width: 200%;
  }
}
.effect5 {
  &:hover {
    box-shadow: 0px 0 0 11px #fff, 0px 0 0 10px #27ae60, 0px 0 0 50px #fff inset;
  }

  &:active {
    box-shadow: 0px 0 0 11px #27ae60, 0px 0 0 10px #27ae60,
      0px 0 0 50px #fff inset;
  }
}
.contact-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#logo5 {
  height: 50px;
  width: 50px;

  border-radius: 190px;
  border: 3px solid #27ae60;
  background: #1e2320;
  text-align: center;

  text-decoration: none;
  color: #27ae60;

  transition: all 0.2s;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #cccccc;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.popup p {
  margin: 0;
  font-size: 18px;
  color: #333333;
}
.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}
